@use './variables' as v;
@use './mixins' as m;

.boton {
    @include m.boton;
}
.boton-anuncio {
    display: block;
    text-transform: uppercase;

    background-color: v.$amarillo;

    &:hover {
        background-color: darken(v.$amarillo, $amount: 5);
    }
}
.boton-verde {
    background-color: v.$verde;
    
    &:hover {
        background-color: darken(v.$verde, $amount: 5);
    }
}
.boton-contacto{
    background-color: v.$amarillo;

    &:hover {
        background-color: darken(v.$amarillo, $amount: 5);
    }
}