@use './variables' as v;

.dark-mode {
    color: v.$blanco;
    background-color: darken(v.$gris-oscuro, 10);

    .dark-mode-boton {
        filter: none;
    }

    .anuncios-contenedor {
        .anuncio {
            border-color: darken(v.$gris-oscuro, 13);
            background-color: v.$gris-oscuro;
        }

        .habitaciones {
            img {
                filter: invert(100%);
            }
        }
    }

    .formulario-contacto {
        p,
        legend,
        select {
            color: v.$blanco;
        }

        input:not([type="submit"]), textarea {
            color: v.$blanco;
            background-color: transparent;
        }
    }
}