@use './variables' as v;
@use './mixins' as m;

.seccion {
    margin-top: calc(v.$separacion / 2);
    margin-bottom: calc(v.$separacion / 2);
}
.contenido-centrado {
    max-width: 800px;
}

// Alineacion
.alinear-derecha {
    text-align: end;
}

// Texto
.txt-resaltado {
    color: v.$amarillo;
}

// Alertas
.alerta {
    margin: 1rem 0;
    padding: 1rem 0;

    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    color: v.$blanco;

    &.error {
        background-color: v.$rojo;
    }
}